* {
  margin: 0;
  padding: 0;
}
img {
  width: 100px !important;
  height: 100px !important;
}
.container {
  width: 100%;
  height: 100vh;
}
.container .cover-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-size: 40px 41px;
  z-index: 20;
  text-align: center;
  font-weight: bold;
}
.container .cover-bg img {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.container .ready-page {
  width: 100%;
  height: 100%;
  background-size: 40px 41px;
}
.container .ready-page .ready-title {
  width: 100%;
  height: 10vh;
  text-align: center;
  color: #d42339;
  font-size: 24px;
  font-weight: 900;
}
.container .ready-page .ready-title img {
  width: 80%;
  max-width: 350px;
  display: inline-block;
}
.container .ready-page .stage-panel {
  width: 100%;
  height: 80vh;
  position: relative;
}
.container .ready-page .stage-panel .stage-select {
  height: 70vh;
}
.container .ready-page .stage-panel .stage-select .stage-box {
  height: 35vh;
  width: 33%;
  display: inline-block;
  padding: 10px;
  -webkit-box-sizing: border-box;
  /*Safari3.2+*/
  -ms-box-sizing: border-box;
  /*IE8*/
  box-sizing: border-box;
}
.container .ready-page .stage-panel .stage-select .stage-box img {
  display: block;
  width: 100%;
  min-height: 95%;
  max-height: 102%;
  opacity: 0.5;
}
.container .ready-page .stage-panel .stage-select .stage-box img.active {
  opacity: 1;
}
.container .ready-page .rule-panel {
  width: 100%;
  height: 100%;
  display: none;
}
.container .ready-page .rule-panel img {
  width: 100%;
}
.container .ready-page .rule-panel .btn {
  background: #d42339;
  width: 60px;
  height: 30px;
  color: #fff;
  outline: none;
  border: none;
}
.container .answer-page {
  display: none;
}
.container .answer-page .answer-area .words-box .selected {
  color: red;
}
